body {
  background: linear-gradient(270deg, #0e0e79, #010129, #000003);
  background-size: 600% 600%;
  animation: gradienteAnimado 3s;
}

@keyframes gradienteAnimado {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes entradaCima {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
    }

}
.form-box img,
input{
    animation: entradaCima 0.8s ease-out forwards;
}
.form-box img {
    animation-delay: 0.1s;
}

@keyframes upfromthebottom {
    from{
        transform: translateY(50px);
        opacity: 0
    }
    to{
        transform: translateY(0);
        opacity: 1
    }
}
header, 
input {
    animation: upfromthebottom 0.8s ease-out forwards;
}
header {
    animation-delay: 0.1s;
}

@keyframes buttondebaixo{
    from{
        transform: translateY(50px);
        opacity: 0
    }
    to{
        transform: translateY(0);
        opacity: 1
    }
}
header
input{
    animation: buttondebaixo 0.8s ease-out forwards
}
header{
    animation-delay: 0.1s;
}
